{
	email {$ACME_EMAIL}
}

etlers.com, www.etlers.com {
	reverse_proxy {$PORTAL_UPSTREAM_HOST}:{$PORTAL_UPSTREAM_PORT}
}

ekis.etlers.com {
	reverse_proxy {$EKIS_UPSTREAM_HOST}:{$EKIS_UPSTREAM_PORT}
}

