{
	email {$ACME_EMAIL}
}

http://etlers.com, http://www.etlers.com, http://localhost, http://127.0.0.1 {
	reverse_proxy {$PORTAL_UPSTREAM_HOST}:{$PORTAL_UPSTREAM_PORT}
}

https://etlers.com, https://www.etlers.com {
	reverse_proxy {$PORTAL_UPSTREAM_HOST}:{$PORTAL_UPSTREAM_PORT}
}

http://ekis.etlers.com {
	reverse_proxy {$EKIS_UPSTREAM_HOST}:{$EKIS_UPSTREAM_PORT}
}

https://ekis.etlers.com {
	reverse_proxy {$EKIS_UPSTREAM_HOST}:{$EKIS_UPSTREAM_PORT}
}

http://forcast.etlers.com {
	reverse_proxy {$FORECAST_UPSTREAM_HOST}:{$FORECAST_UPSTREAM_PORT}
}

https://forcast.etlers.com {
	reverse_proxy {$FORECAST_UPSTREAM_HOST}:{$FORECAST_UPSTREAM_PORT}
}
